.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

.animated.flipOutX,
.animated.flipOutY {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes hero-action {
  0% {
    top: -3px;
  }
  100% {
    top: 6px;
  }
}
@-o-keyframes hero-action {
  0% {
    top: -3px;
  }
  100% {
    top: 6px;
  }
}
@-moz-keyframes hero-action {
  0% {
    top: -3px;
  }
  100% {
    top: 6px;
  }
}
@keyframes hero-action {
  0% {
    top: -3px;
  }
  100% {
    top: 6px;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
    -ms-transform: translate3d(0, 40%, 0);
    -o-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@-o-keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
    -ms-transform: translate3d(0, 40%, 0);
    -o-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@-moz-keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
    -ms-transform: translate3d(0, 40%, 0);
    -o-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
    -ms-transform: translate3d(0, 40%, 0);
    -o-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    -ms-transform: translate3d(0, -20%, 0);
    -o-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@-o-keyframes fadeDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    -ms-transform: translate3d(0, -20%, 0);
    -o-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@-moz-keyframes fadeDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    -ms-transform: translate3d(0, -20%, 0);
    -o-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@keyframes fadeDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    -ms-transform: translate3d(0, -20%, 0);
    -o-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
.fadeUp {
  -webkit-animation-name: fadeUp;
  -o-animation-name: fadeUp;
  animation-name: fadeUp;
}

.fadeDown {
  -webkit-animation-name: fadeDown;
  -o-animation-name: fadeDown;
  animation-name: fadeDown;
}

.fade {
  -webkit-animation-name: fade;
  -o-animation-name: fade;
  animation-name: fade;
}
