@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham/Gotham-Light.eot");
  src: url("../fonts/Gotham/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham/Gotham-Light.woff") format("woff"), url("../fonts/Gotham/Gotham-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham/Gotham-Book.eot");
  src: url("../fonts/Gotham/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham/Gotham-Book.woff") format("woff"), url("../fonts/Gotham/Gotham-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham/Gotham-Bold.eot");
  src: url("../fonts/Gotham/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham/Gotham-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source Sans Pro/sourcesanspro-light.eot");
  src: url("../fonts/Source Sans Pro/sourcesanspro-light.eot?#iefix") format("embedded-opentype"), url("../fonts/Source Sans Pro/sourcesanspro-light.woff2") format("woff2"), url("../fonts/Source Sans Pro/sourcesanspro-light.woff") format("woff"), url("../fonts/Source Sans Pro/sourcesanspro-light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source Sans Pro/sourcesanspro-lightit.eot");
  src: url("../fonts/Source Sans Pro/sourcesanspro-lightit.eot?#iefix") format("embedded-opentype"), url("../fonts/Source Sans Pro/sourcesanspro-lightit.woff2") format("woff2"), url("../fonts/Source Sans Pro/sourcesanspro-lightit.woff") format("woff"), url("../fonts/Source Sans Pro/sourcesanspro-lightit.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source Sans Pro/sourcesanspro-regular.eot");
  src: url("../fonts/Source Sans Pro/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Source Sans Pro/sourcesanspro-regular.woff2") format("woff2"), url("../fonts/Source Sans Pro/sourcesanspro-regular.woff") format("woff"), url("../fonts/Source Sans Pro/sourcesanspro-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source Sans Pro/sourcesanspro-it.eot");
  src: url("../fonts/Source Sans Pro/sourcesanspro-it.eot?#iefix") format("embedded-opentype"), url("../fonts/Source Sans Pro/sourcesanspro-it.woff2") format("woff2"), url("../fonts/Source Sans Pro/sourcesanspro-it.woff") format("woff"), url("../fonts/Source Sans Pro/sourcesanspro-it.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source Sans Pro/sourcesanspro-bold.eot");
  src: url("../fonts/Source Sans Pro/sourcesanspro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Source Sans Pro/sourcesanspro-bold.woff2") format("woff2"), url("../fonts/Source Sans Pro/sourcesanspro-bold.woff") format("woff"), url("../fonts/Source Sans Pro/sourcesanspro-bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source Sans Pro/sourcesanspro-boldit.eot");
  src: url("../fonts/Source Sans Pro/sourcesanspro-boldit.eot?#iefix") format("embedded-opentype"), url("../fonts/Source Sans Pro/sourcesanspro-boldit.woff2") format("woff2"), url("../fonts/Source Sans Pro/sourcesanspro-boldit.woff") format("woff"), url("../fonts/Source Sans Pro/sourcesanspro-boldit.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
