body {
	font-size: 16px;
	font-family: 'Source Sans Pro', 'sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Bebas Neue';
	line-height: 1.2;
}

h1 {
	font-size: 3.5em;
}
h2 {
	font-size: 3em;
}
h3 {
	font-size: 2.5em;
}
h4 {
	font-size: 2em;
}
h5 {
	font-size: 1.5em;
}
h6 {
	font-size: 1em;
}
p {
	margin: 0 0 15px;
}

a,
a:active {
	outline: none;
}
a,
a:hover,
a:active {
	text-decoration: none;
}

section {
	padding: 40px 0;
}
.section-header {
	margin: 15px 0 20px;
}
.section-description {
	padding: 0 40px;
	margin-bottom: 15px;
}

/* Hero Section */
#hero-section {
	color: white;
	background-color: #f06a2a;
	position: relative;
	overflow: hidden;
	padding: 0;
}
.hero-header {
	font-weight: lighter;
	letter-spacing: 1.8px;
}
.hero-header strong {
	color: #363635;
}
.hero-action {
	width: 120px;
	height: 120px;
	font-size: 2.5em;
	text-align: center;
	background-color: #fff;
	border-radius: 120px;
	position: absolute;
	bottom: -60px;
	left: 50%;
	margin-left: -60px;
	font-weight: bold;
}
.hero-action a {

}
.slot {
	font-size: 2.5em;
	margin-bottom: 80px;
}
.slot > * {
	vertical-align: middle;
	display: inline-block;
}
.slot__box {
	width: 160px;
	height: 160px;
	background-color: white;
	border-radius: 3px;
	margin: 0 20px;
}
.slot__box:first-child {
	margin-left: 0;
}
.slot__box:last-child {
	margin-right: 0;
}
.slot__separator {
	color: #363635;
}


/* Business Section */
.business-section {
	background-color: white;
}

/* Seller Section */
.seller-section {
	background: url('../img/bg-story.png') repeat;
	padding-bottom: 0;
}
.seller-section__header {
	color: white;
}
.seller-section__thumbnail {
	background-color: #F5FBEF;
	margin: 40px 0 0;
	position: relative;
}
#seller-thumbnail .thumbnail {
  background: #42bdc2;
  height: 300px;
  padding: 30px 0px;
  color: #FFF;
  text-align: center;
}
.thumbnail__navigation {
	width: 120px;
	height: 120px;
	background-color: white;
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	top: 50%;
	margin-top: -60px;
	border-radius: 120px;
	line-height: 120px;
	cursor: pointer;
	-webkit-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
}
.thumbnail__navigation:hover {
	background-color: white;
}
.thumbnail__navigation.prev {
	left: -60px;
	text-align: right;
}
.thumbnail__navigation.next {
	right: -60px;
	text-align: left;
}

.seller-section__search {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 80px 0;
}




.text-center {
	text-align: center;
}

@media (max-width: 360px) {

	body {
		font-size: 14px;
	}
	
	#hero-section {
		background-color: #34495e;
	}

	.slot {
		font-size: 1.5em;
		margin-bottom: 40px;
	}
	.slot__box {
		width: 76px;
		height: 76px;
		margin: 0 5px;
	}

	.hero-header {
		font-size: 2.5em;
	}
}

/* Media Queries */
@media (min-width: 768px) {
	body {
		font-size: 12px;
	}
}
@media (min-width: 992px) {
	body {
		font-size: 14px;
	}  
}
@media (min-width: 1200px) {

	body {
		font-size: 16px;
	}
}