body {
  font-size: 16px;
  font-family: 'Source Sans Pro', 'Helvetica', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gotham', 'Source Sans Pro', 'Helvetica', 'sans-serif';
  line-height: 1.2;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1em;
  margin-top: 0;
}

a, a:hover, a:focus, a:active {
  outline: none;
  text-decoration: none;
}

section {
  padding: 40px 0;
}

.section-heading {
  color: #141c2e;
  text-align: center;
  margin: 15px 0 30px;
}
#seller .section-heading {
  color: white;
}
.section-copy {
  color: #141c2e;
  font-size: 1.1em;
  letter-spacing: 0.3px;
  text-align: center;
  margin-bottom: 20px;
}
#seller .section-copy {
  color: #e3e3e3;
}

.fancybox-overlay {
  background-image: url("../img/fancybox_overlay.png");
}
.fancybox-close {
  width: 32px;
  height: 32px;
  background: url("../img/icon-close.png") no-repeat center center;
}

#hero {
  color: white;
  background: url("../img/image-hero.png") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: relative;
  z-index: 0;
  padding: 0;
}

#hero:before {
  width: 100%;
  height: 100%;
  content: '';
  background: #3b9e57;
  background: -moz-linear-gradient(left, #3b9e57 0%, rgba(151, 191, 118, 0.6) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #3b9e57), color-stop(100%, rgba(151, 191, 118, 0.6)));
  background: -webkit-linear-gradient(left, #3b9e57 0%, rgba(151, 191, 118, 0.6) 100%);
  background: -o-linear-gradient(left, #3b9e57 0%, rgba(151, 191, 118, 0.6) 100%);
  background: -ms-linear-gradient(left, #3b9e57 0%, rgba(151, 191, 118, 0.6) 100%);
  background: linear-gradient(to right, #3b9e57 0%, rgba(151, 191, 118, 0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b9e57', endColorstr='#97bf76', GradientType=1 );
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-container {
  text-align: center;
  padding: 0 15px;
}
.hero-logo {
  width: 180px;
  height: 39px;
  margin-bottom: 5px;
}
.hero-title {
  font-size: 3.5em;
  line-height: 1;
  margin: 0 0 40px;
}
.hero-video {
  width: 56px;
  height: 56px;
}
.hero-video-wrapper .fancybox-inner {
  overflow: hidden !important;
}
.hero-heading {
  font-size: 1.8em;
  font-weight: lighter;
  margin: 40px 0 0;
}
.hero-heading strong {
  color: #E55B36;
}
.hero-action {
  width: 120px;
  height: 120px;
  font-size: 2.5em;
  text-align: center;
  background-color: #fff;
  border-radius: 120px;
  cursor: pointer;
  position: absolute;
  bottom: -60px;
  left: 50%;
  margin-left: -60px;
}
.hero-action img {
  width: 32px;
  height: 32px;
  position: relative;
  -webkit-animation: hero-action 0.8s ease-in-out alternate infinite;
  -o-animation: hero-action 0.8s ease-in-out alternate infinite;
  animation: hero-action 0.8s ease-in-out alternate infinite;
}

#story {
  padding: 40px 0;
  overflow: hidden;
}

.story {
  width: 1200px;
  padding: 0 15px;
  margin: 0px auto;
}
.story > div {
  color: white;
  position: relative;
}
.story__first .story__copy {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -62.8px;
}
.story__first .story__copy p {
  font-size: 1.3em;
}
.story__second .story__copy {
  width: 350px;
  text-align: left;
  position: absolute;
  top: 95px;
  left: 60px;
}
.story__third .story__copy {
  width: 400px;
  text-align: left;
  position: absolute;
  top: 125px;
  right: 40px;
}
.story img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.story__copy h3 {
  margin: 0 0 20px;
}
.story__copy p {
  font-size: 1.1em;
  line-height: 2;
  letter-spacing: 0.3px;
  margin: 0;
}
.story__copy p i {
  color: #42B548;
}
.story__separator {
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
  border: 0;
  margin: 40px 0;
}

.seller-section {
  background: url("../img/bg-story.png") repeat;
  padding-bottom: 0;
}
.seller-section__header {
  color: white;
}
.seller-section__thumbnail {
  background-color: #F5FBEF;
  margin: 40px 0 0;
  position: relative;
}

section#seller {
  overflow: hidden;
  padding: 0;
}

.seller-header, .seller-footer {
  color: white;
  padding: 80px 0;
}
.seller-header {
  background: url("../img/image-seller-top.png") no-repeat center top;
  -webkit-background-size: cover;
  background-size: cover;
}
.seller-header .section-copy {
  margin-bottom: 15px;
}
.seller-footer {
  background: url("../img/image-seller-bottom.png") no-repeat center bottom;
  -webkit-background-size: cover;
  background-size: cover;
}
.seller-footer .section-heading {
  margin-bottom: 15px;
}
.seller-footer #search-form {
  margin: 20px 0 15px;
}
.seller-thumbs {
  position: relative;
}
.seller-thumbs .owl-wrapper-outer {
  overflow: visible;
  background-color: #232323;
}
.seller-thumbs .owl-item {
  height: 425px;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  -o-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.seller-thumbs .owl-item.active-seller {
  overflow: visible;
  z-index: 99;
}
.seller-thumbs .owl-item.active-seller img {
  opacity: 0.85;
}
.seller-thumbs .owl-item.active-seller .seller-thumb__copy {
  opacity: 1;
  bottom: 45%;
}
.seller-thumbs .seller-thumb {
  background-color: #232323;
}
.seller-thumbs .seller-thumb__img {
  height: 425px;
  background-color: #232323;
  overflow: hidden;
}
.seller-thumbs .seller-thumb__img img {
  opacity: 0.35;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  -o-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.seller-thumbs .seller-thumb__copy {
  color: white;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 35%;
  opacity: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  -o-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.seller-thumbs .seller-thumb__copy span {
  font-size: 2em;
  left: 1px;
  display: block;
  margin-bottom: 5px;
}
.seller-thumbs .seller-thumb__copy i {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.9);
}
.seller-thumbs .seller-thumb a {
  color: white;
  font-size: 0.8em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  background-color: #E55B36;
  display: block;
  padding: 25px 0;
}
.seller-thumbs__nav {
  height: 100px;
  width: 50px;
  line-height: 100px;
  background-color: white;
  opacity: 0.8;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  -webkit-transition: opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  -o-transition: opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  transition: opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.seller-thumbs__nav img {
  width: 32px;
  height: 32px;
}
.seller-thumbs__nav.prev {
  left: 0;
  text-align: left;
  border-radius: 0 100px 100px 0;
}
.seller-thumbs__nav.prev img {
  margin-left: 2px;
}
.seller-thumbs__nav.next {
  right: 0;
  text-align: right;
  border-radius: 100px 0 0 100px;
}
.seller-thumbs__nav.next img {
  margin-right: 2px;
}
.seller-thumbs__nav:hover {
  opacity: 1;
}

.form-group {
  display: table;
  border-collapse: separate;
  color: #2c3e50;
  position: relative;
}
.form-group__field, .form-group__action {
  display: table-cell;
}
.form-group__field {
  width: 100%;
  background-color: #fff;
  border: 1px solid #34495e;
  border-radius: 4px 0 0 4px;
  float: left;
  padding: 6px 12px;
  z-index: 2;
  outline: none;
}
.form-group__action {
  width: 1%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.form-group__action button {
  border: 1px solid #34495e;
  border-radius: 0 4px 4px 0;
  padding: 6px 12px;
  margin-left: -1px;
  z-index: 2;
}
#search-form .form-group__action button {
  color: white;
  background-color: #42b548;
  border-color: #42b548;
}
#search-form .form-group__field {
  font-size: 1.1em;
  border-color: #E55B36;
  padding: 15px 30px;
  border-width: 3px;
  border-radius: 30px 0 0 30px;
}
#search-form .form-group__action button {
  font-size: 1.1em;
  padding: 15px 30px;
  border-width: 3px;
  border-radius: 0 30px 30px 0;
  color: white;
  background-color: #E55B36;
  border-color: #E55B36;
}

.seller-modal .fancybox-skin {
  padding: 0 !important;
}
.seller-modal .fancybox-nav.fancybox-prev, .seller-modal .fancybox-nav.fancybox-next {
  width: 40px;
  height: 80px;
  top: 50%;
  margin-top: -40px;
}
.seller-modal .fancybox-nav.fancybox-prev span, .seller-modal .fancybox-nav.fancybox-next span {
  background-image: none;
}
.seller-modal .fancybox-nav.fancybox-prev {
  background: #F9F9F9 url("../img/icon-arrow-left.png") no-repeat center;
  -webkit-background-size: 65% auto;
  background-size: 65% auto;
  border-radius: 75px 0 0 75px;
  left: -40px;
}
.seller-modal .fancybox-nav.fancybox-next {
  background: #F9F9F9 url("../img/icon-arrow-right.png") no-repeat center;
  -webkit-background-size: 65% auto;
  background-size: 65% auto;
  border-radius: 0 75px 75px 0;
  right: -40px;
}
.seller-modal .html5-info-bar {
  display: none;
}
.seller-modal .container {
  padding: 0 30px 30px;
}
.seller-modal h3 {
  font-size: 1.5em;
  margin: 20px 0 10px;
}
.seller-modal p {
  font-size: 0.95em;
  margin-bottom: 10px;
}
.seller-modal .btn-shop {
  color: white;
  background-color: #E55B36;
  display: inline-block;
  border-radius: 2px;
  padding: 10px 20px;
  margin-top: 15px;
}
.seller-modal__info {
  color: white;
  background-color: #3C3C3C;
  padding: 20px;
}
.seller-modal__title img {
  width: 20px;
  height: 21px;
  margin-right: 5px;
}
.seller-modal__title span {
  font-size: 1.2em;
  vertical-align: middle;
}
.seller-modal__detail {
  font-weight: lighter;
  margin-bottom: 0;
}
.seller-modal__detail dt {
  color: #CCC;
  font-size: 0.8em;
  margin-bottom: 2px;
}
.seller-modal__detail dd {
  font-size: 1.1em;
  margin: 0 0 10px 0;
}

@media (min-width: 992px) {
  .seller-modal .container {
    width: 920px;
  }
}
section#chance {
  text-align: center;
  background-color: #ecf0f1;
  position: relative;
  padding: 80px 0;
}
section#chance .toped-share {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.chance-btn {
  color: white;
  padding: 16px 32px;
  background-color: #E55B36;
  border-radius: 3px;
  display: inline-block;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  margin-bottom: 15px;
}
.chance-btn:hover, .chance-btn:focus {
  color: white;
}

footer {
  color: white;
  background-color: #3B9F50;
  overflow: hidden;
}
footer:before, footer:after {
  content: '';
  display: table;
}
footer:after {
  clear: both;
}

.copyright {
  line-height: 60px;
  padding-left: 25px;
}

.social-media {
  list-style-type: none;
  float: right;
  padding: 0;
  margin: 0;
}
.social-media:before, .social-media:after {
  content: '';
  display: table;
}
.social-media:after {
  clear: both;
}
.social-media li {
  border-left: 1px solid white;
  float: left;
}
.social-media li img {
  width: 93px;
  height: 60px;
  vertical-align: top;
}

@media screen and (max-width: 1199px) {
  .story {
    width: auto;
  }
  .story .story__copy {
    width: auto;
    color: #121212;
    text-align: center;
    display: block;
    position: static;
    top: initial;
    margin-top: 15px;
  }
  .story .story__copy h3 {
    margin: 30px 0 10px;
  }
  .story__separator {
    margin: 30px 0;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  #hero {
    padding: 80px 0;
    z-index: 0;
  }

  .hero-logo {
    width: 150px;
    height: auto;
  }
  .hero-video img {
    width: 46px;
    height: 46px;
  }
  .hero-title {
    font-size: 3em;
    margin-bottom: 30px;
  }
  .hero-heading {
    margin-top: 30px;
  }
  .hero-action {
    width: 90px;
    height: 90px;
    font-size: 2.5em;
    border-radius: 90px;
    bottom: -45px;
    margin-left: -45px;
  }
  .hero-action img {
    width: 28px;
    height: 28px;
  }

  .story .story__copy h3 {
    font-size: 1.8em;
  }

  .seller-header {
    padding: 60px 0;
  }
  .seller-footer {
    padding: 60px 0;
  }
  .seller-thumbs .owl-item {
    height: 375px;
  }
  .seller-thumbs .seller-thumb__img {
    height: 375px;
  }
  .seller-thumbs .seller-thumb__copy span {
    font-size: 2em;
  }
  .seller-thumbs .seller-thumb__copy i {
    font-size: 1.2em;
  }
  .seller-thumbs .seller-thumb a {
    font-size: 0.9em;
  }
  .seller-thumbs__nav {
    height: 90px;
    width: 45px;
    line-height: 90px;
    margin-top: -45px;
  }
  .seller-thumbs__nav.prev {
    border-radius: 0 90px 90px 0;
  }
  .seller-thumbs__nav.prev img {
    margin-left: 2px;
  }
  .seller-thumbs__nav.next {
    border-radius: 90px 0 0 90px;
  }
  .seller-thumbs__nav.next img {
    margin-right: 2px;
  }

  .seller-modal .fancybox-nav {
    display: none;
  }
  .seller-modal .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  section#chance {
    padding: 60px 0;
  }
  section#chance .toped-share {
    width: 110px;
    height: 110px;
  }

  .copyright {
    line-height: 35px;
  }

  .social-media li img {
    width: 54px;
    height: 35px;
  }
}
@media screen and (max-width: 468px) {
  body {
    font-size: 12px;
  }

  .hero-logo {
    width: 130px;
    height: auto;
  }

  .seller-header {
    padding: 40px 0;
  }
  .seller-footer {
    padding: 40px 0;
  }
  .seller-thumbs .owl-item {
    height: 325px;
  }
  .seller-thumbs .seller-thumb__img {
    height: 325px;
  }
  .seller-thumbs .seller-thumb__copy span {
    font-size: 2.2em;
  }
  .seller-thumbs .seller-thumb__copy i {
    font-size: 1.3em;
  }
  .seller-thumbs .seller-thumb a {
    font-size: 1.1em;
  }
  .seller-thumbs__nav {
    height: 75px;
    width: 37.5px;
    line-height: 75px;
    margin-top: -37.5px;
  }
  .seller-thumbs__nav.prev {
    border-radius: 0 75px 75px 0;
  }
  .seller-thumbs__nav.prev img {
    width: 28px;
    height: 28px;
    margin-left: 0;
  }
  .seller-thumbs__nav.next {
    border-radius: 75px 0 0 75px;
  }
  .seller-thumbs__nav.next img {
    width: 28px;
    height: 28px;
    margin-right: 0;
  }

  section#chance {
    padding: 50px 0;
  }
  section#chance .toped-share {
    width: 80px;
    height: 80px;
  }
}
